# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=secret
POSTGRES_DB=DiChat02
DATABASE_URL=postgresql+asyncpg://admin:secret@db:5432/DiChat02

# Ports
BACKEND_PORT=8000
FRONTEND_PORT=3000

# Admin
ADMIN_IP=127.0.0.1